{{ if .show}}
<div class="pure-g">
  <div class="pure-u-7-8 center">
    <h1>Results</h1>
    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>URL</th>
          <th>Score</th>
          <th>Date Added</th>
        </tr>
      </thead>

      <tbody>
        {{range .results}}
        <tr>
          <td>{{.Index}}</td>
          <td>{{.Title}}</td>
          <td><code><a href="{{.URL}}">{{.URL}}</a></code></td>
          <td>{{.Score}}</td>
          <td>{{.DateAdded}}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}

<h1 class="is-center">Search</h1>

<div class="pure-g">
  <form action="/elasticbook/search" method="POST" class="pure-form pure-form-stacked pure-u-4-5 center search-form">
    <div class="pure-g">
      <!-- <div class="pure-u-2-24"></div> -->
      <!-- <div class="pure-u-20-24 center"></div> -->
      <div class="pure-u-7-8 center">
         <input type="text" name="term" placeholder="term" class="pure-input-1 center" />
         <div class="pure-u-1-5">
            <!-- <input class="pure-input-1" type="text" placeholder=".pure-u-1-5"> -->
          </div>
          <div class="pure-u-3-5">
            <!-- <input class="pure-input-1" type="text" placeholder=".pure-u-2-5"> -->
            <button type="submit" class="pure-button pure-input-1 pure-button-primary center">Search</button>
          </div>
          <div class="pure-u-1-5">
            <!-- <input class="pure-input-1" type="text" placeholder=".pure-u-2-5"> -->
          </div>
       </div>
    </div>
  </form>
</div>
